<div class="col-span-full space-x-6 my-4">
    {% if site.data.contact-and-socials.socials.instagram_username %}
    <a class="inline-block" title="Instagram" target="_blank" href="https://www.instagram.com/{{site.data.contact-and-socials.socials.instagram_username}}">
        <i class="text-xl text-black fa-brands fa-instagram"></i>
    </a>
    {% endif %}
  
    {% if site.data.contact-and-socials.socials.facebook_username %}
    <a class="inline-block" title="Facebook" target="_blank" href="https://www.facebook.com/{{site.data.contact-and-socials.socials.facebook_username}}">
        <i class="text-xl text-black fa-brands fa-facebook"></i>
    </a>
    {% endif %}
  
    {% if site.data.contact-and-socials.socials.pinterest_username %}
    <a class="inline-block" title="Pinterest" href="https://www.pinterest.co.uk/{{site.data.contact-and-socials.socials.pinterest_username}}" rel="nofollow" target="_blank">
        <i class="text-xl text-black fa-brands fa-pinterest"></i>
    </a>
    {% endif %}
  
    {% if site.data.contact-and-socials.socials.linkedin_username %}
    <a class="inline-block" title="Linkedin" href="https://www.linkedin.com/company/{{site.data.contact-and-socials.socials.linkedin_username}}" rel="nofollow" target="_blank">
        <i class="text-xl text-black fa-brands fa-linkedin"></i>
    </a>
    {% endif %}
  
    {% if site.data.contact-and-socials.socials.twitter_username %}
    <a class="inline-block" title="Twitter" href="https://www.twitter.com/{{site.data.contact-and-socials.socials.twitter_username}}" rel="nofollow" target="_blank">
        <i class="text-xl text-black fa-brands fa-x-twitter"></i>  
    </a>
    {% endif %}
  
    {% if site.data.contact-and-socials.socials.tiktok_username %}
    <a class="inline-block" title="TikTok" href="https://www.tiktok.com/@{{site.data.contact-and-socials.socials.tiktok_username}}" rel="nofollow" target="_blank">
        <i class="text-xl text-black fa-brands fa-tiktok"></i>
    </a>
    {% endif %}
  
    {% if site.data.contact-and-socials.socials.youtube_username %}
    <a class="inline-block" title="YouTube" href=" https://www.youtube.com/@{{site.data.contact-and-socials.socials.youtube_username}}" rel="nofollow" target="_blank">
        <i class="text-xl text-black fa-brands fa-youtube"></i>
    </a>
    {% endif %}
  </div>